
     #section .home {
        flex-direction: column;
        justify-content: center;
        padding: 0, 0px;
    }   

    #section .home i {
        text-align: center;
    }
    
    #section .home h5 {
        margin-right: 0rem;  
      }

      div p {
        font-size: 1.2rem;
    
    }div p {
       margin-bottom: 2rem;
    
    }


    /* secton a */
   
 .navber  {
   flex-direction: column;
    justify-content: center;
    padding-left: 0rem;
    padding-right: 0rem; 
    
}


 #section-a .navber ul {
   flex-direction: column;
   justify-content: center;
  
}

#section-a  .navber h2  {
  margin-top: 2rem;
}

#section-a .navber ul li  {
    margin: 0.5rem;
    font-size: 1rem;
    text-align: center;
    padding: 10px 15px;
  
}

.great {
    flex-direction: row;
    justify-content: center;
    font-size: 1.2rem;

}

  .great p {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  
} 
   
.btn {
    margin-left: 2rem;
 } 
 
    /* section-b */
    
    .showcase-1 {
       flex-direction: column;
        text-align: center;
        padding-left: 0rem;
        padding: 0rem;
       
    }
    .text-1 h1 {
        font-size: 2rem;
        margin-bottom: 2rem; 
        padding: 0rem 3rem 0rem;
    }
    
    .text-1 p {
        font-size: 1rem;
        text-align: center;
        padding: 0rem 3rem 2rem;
       
    }
    
    .start {
      flex-direction: column;
      text-align: center;
    }
    
    .start a {
        font-size: 1rem;
        padding: 10px 10px;
        border-radius: 5px;
        width: 50%;
        margin: auto;
    }
    
    .img-info {
        text-align: center;
        width: 300px;
        display: inline-block;
        margin: auto;
        margin-top: 3rem;
    }
    
    .start h6 {
        font-size: 1rem;
        padding: 0rem 3rem 0rem;
        text-align: center;
       
        
    }
    
     /* section-c  */
      
     .showcase-2 {
        flex-direction: column;
        grid-template-columns: repeat(1fr);  
     }
      
     .showcase-2 h3 {
        font-size: 1rem;
        text-align: center;
        padding: 2rem 2rem 2rem;
        margin-bottom: 0rem;  

    }
    
    .showcase-2 p {
        font-size: 1rem;
        text-align: center;
        padding: 0rem 3rem 2rem;
       
    }
    
    /*  section-d */
    #section-d .showcase-3 {
        flex-direction: column;
        text-align: center;
        grid-template-columns: 1fr;
        grid-gap: 0rem;
        padding: 1rem 2rem 1rem 1rem;
        
       
    }
    
    /*  section-e */

    #section-e .showcase-4  {
        padding: 0rem; 
    }
       
    #section-e .showcase-4 h6 {
       padding: 0rem 2rem 2rem;
        text-align: center;
     }

     #section-e .showcase-4 h3 {
        font-size: 2rem;
        padding: 0rem 2rem 1rem;
    }

    .showcase-4 p  {
        line-height: 2rem;
       padding: 1rem 2rem 1rem;
       padding-bottom: 0rem;
        opacity:0.5;
    }

    #section-e .color {
        border-bottom: none;
        padding-bottom: 0rem;
       
      }
    
     #section-e .flexbox {
        flex-direction:column;
        justify-content:center;
        font-size: 2rem;
        margin-bottom:10rem;
        padding: 0rem 2rem 0rem; 
    }
    
    /*  section-f*/
    
    #section-f .showcase-5 {
        flex-direction: column;
        text-align: center;
        grid-gap: 0rem;
       
    }

    #section-f .flex-1 h1{
        padding: 0rem 1rem 2rem;
      
    }
    
    #section-f .items i {
        padding-right: 0px;
        text-align: center;
    } 
    
    #section-f .flex-1 {
        flex-direction: unset;
        text-align: center;
        margin-top: 0rem;   
    }
    
    .flex-1 a {
        font-size: 1.2rem;
        padding: 15px 20px;
        margin-left: 0rem;
        text-align: center;
    }
    
    .flex-2 {
        flex-direction: unset;
        text-align: center;
        margin-top: 2rem;
        padding-left: 0rem; 
        padding: 0rem 2rem 2rem;  
    }

    #section-f .items {
        padding: 0rem;
        margin-top: 0rem;
       
    }
    
    
    .flex-2 h2{
         text-transform: capitalize; 
         font-size: 1.5rem;  
    }
   
    
    .paragraph {
        font-size: 1.2rem;
        margin-top: 0rem;
        margin-left: 0rem;  
    }
    
  
    .bg-buttom a{
        padding: 10px 10px;
        text-align: center;
        border-radius: 5px; 
        line-height: 10rem;   
    }

    /* section-g*/
       
    #section-g .showcase-6 {
        flex-direction: column;
        justify-content: center;
    }
    
    #section-g .img {
        padding-left: 0rem;
        margin-top: 2rem;
        width: 60%;
         display: inline-block;
         margin: auto;
    }
    
    #section-g .text-2 h1 {
        font-size: 2rem;
        padding-left: 0rem 2rem 2rem;
        margin-top: 5rem;
        text-align: center;
    }
    
    
    #section-g .text-2 p {
        padding-left: 1rem 2rem 1rem;
       
    }
    
    #section-g .text-2 a {
        margin-left: 4rem;
        line-height: 0rem;
        text-align: center;
    }
    
    /*  section-h   */
    
    #section-h .showcase-7 {
       flex-direction: column;
       text-align: center;
       padding: 0rem;
       padding: 0rem 2rem 2rem; 
    }
    
    #section-h .text-3 h1 {
        font-size: 2rem;
        padding-left: 0rem;
    }
    
    #section-h .text-3 i {
        padding-right: 0px;
       text-align: center;
    }
    
    #section-h .text-3 p {
        padding-left: 0rem;
        margin-bottom: 4rem;
        text-align: center;
    
    }
    
    #section-h .text-3 {
        padding-right: 0rem;
        text-align: center;
    }
    
    #section-h .text-3 li  {
        padding-left: 0rem; 
        text-align: center;
    
    }
    
    #section-h .img {
        text-align: center;
    }
    
    
    
    
    /* section-i */
      
    #section-i .showcase-8 {
        padding: 0rem;
        text-align: center;
    
    }
    
    #section-i .image {
        text-align: center;
        margin-top: 5rem;
    }

    #section-i .text-4 h2 {
        font-size: 2rem;
        line-height: 3rem;
        padding: 1rem 2rem 1rem;
          
    }

    #section-i .text-4 p {
        font-size: 1rem;
        padding: 1rem 2rem 1rem;
        margin-top: 0rem;
       
    }
    
   
    
    /* section-j */
    
    #section-j .logo{
        flex-direction: column;
        grid-template-columns: 1fr;
        text-align: center;
        padding-left: 5rem;
        padding-right: 0rem;
      
    }
    
    #section-j .logo img {
        line-height: 10rem;
    }
    
    
     /* section-k  */
    
     #section-k .paragrphs-2 {
        flex-direction: column;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    
    #section-k .icon-1 {
        padding-left: 0%;
        text-align: center;
       
      }
    
      #section-k .paragrphs-2 h2 {
        margin-top: 5rem;
        padding-left: 0rem;
        text-align: center;
    }
    
    
     #section-k .pic p {
         margin-top: 0rem;
         padding-right: 0rem;
         text-align: center;
         font-size: 1.2rem;
         padding: 2rem 2rem 1rem;
    
     }
    
     #section-k .pic-1 {
        flex-direction: column;
        margin-top: 2rem;
        text-align: center;
       
    }
    
    #section-k .pic-1 img {
      margin-bottom: 2rem;
      display: inline-block;
      margin: auto;
      margin-bottom: 2rem;
    }
    
    #section-k .pic-1 h3 {
        padding-left: 0rem;
        text-align: center;
        font-size: 1rem;
    }
    
     /* section-L */
    
     #section-l .showcase-11  {
        text-align: center;
        padding: 5rem;
        padding: 1rem 2rem 1rem;
    }
    
      /* section-m */
    
      #section-m .showcase-12 {
        flex-direction: column;
        grid-template-columns: 1fr;
        text-align: center;
        padding-left: 0rem;
     
    }
    
    #section-m  .gaph h3 span {
        padding-left: 0rem;
       
      }
    
      #section-m  .gaph h4 span {
        padding-left: 0rem;
      
      }
    
      #section-m  .gaph h5 span {
        padding-left: 0rem;
       
      }
    
      
      #section-m  .gaph h3 {
        font-size: 1.2rem;
        padding: 1rem 2rem 1rem;
      
    }
    
    #section-m  .gaph p {
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        padding: 1rem 2rem 1rem;
    
    }

    #section-m  .gaph h4 {
        line-height: 2rem;
        padding: 1rem 2rem 1rem;
    }


    #section-m  .gaph h5 {
        line-height: 2rem;
        margin-bottom: 4rem;
        padding: 1rem 2rem 1rem;
    }
    
      #section-m .gap-1 {
        padding-right: 0rem ;
        padding: 1rem 2rem 1rem;
    }
    
    
    #section-m .gap-1 span {
        padding-left: 0rem;
        padding: 1rem 2rem 1rem;
    }

    #section-m .gap-1 h3 {
        line-height: 2rem;
        padding: 1rem 2rem 1rem;
    }
      

      /*section-n */
    
       #section-n .showcase-13 {
         flex-direction: column;
          text-align: center;
          grid-template-columns: 1fr;
          padding: 5rem;
          padding-left: 3rem;
         
      }


      #section-n .gap-2 h5 {
        line-height: 3rem;
     
    }   
     

    
  #section-n .gap-3 h4 {
    line-height: 2rem;

    }

    #section-n .gap-2 p {
        line-height: 1rem;
    }

    
      #section-n .gap-3 p {
        line-height: 2rem;
        padding-left: 0rem;
        text-align: center;
        padding-bottom: 2rem;
    }
    
    #section-n .side-menu input {
       margin-bottom: 2rem;
      
     }
    
      #section-n .side-menu input[type=submit] {
        font-size: 1rem;
        margin-left: 0rem;
        border-radius: 5px;
       
     }
    
     /* footer */
    
     #section-footer .showcase-14 {
       flex-direction: column;
       text-align: center;
    
    }
    
    #section-footer .showcase-14 p {
        padding-left: 0rem;
        margin-bottom: 2rem;
        text-align: center;
    }
    
    #section-footer .footer-1 {
        flex-direction: column;
        text-align: center;
        padding-left: 0rem;
    }

































 




  
   